<!DOCTYPE html>
<html>
<head>
    <title>House Price Prediction</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <div class="container">

        <h1>🏠 House Price Prediction</h1>

        <p>Enter house details to predict the price</p>

        <form action="/predict" method="POST">

            <label>Area (sq.ft)</label>
            <input
                type="number"
                name="area"
                placeholder="Enter area"
                required
            >

            <label>Bedrooms</label>
            <input
                type="number"
                name="bedrooms"
                placeholder="Enter bedrooms"
                min="1"
                required
            >

            <label>Bathrooms</label>
            <input
                type="number"
                name="bathrooms"
                placeholder="Enter bathrooms"
                min="1"
                required
            >

            <button type="submit">
                Predict House Price
            </button>

        </form>

        {% if prediction %}
        <div class="result">
            <h2>Predicted House Price</h2>
            <h3>{{ prediction }}</h3>
        </div>
        {% endif %}

    </div>

</body>
</html>